body {
    margin: 0;
    padding: 0;
    background: #000;
}

p {
    font-size: 12px;
    line-height: 8px;
    text-align: center;

    background: url("lablab.jpg") no-repeat center/cover;
    background-attachment: fixed;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
